{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FDIC Macro Solutions ATV Prototype",
    "description": "This is the OpenAPI for the ATV1 Apps API",
    "contact": {
      "name": "Kin Lane",
      "url": "http://github.com/kinlane/atv1",
      "email": "info@apievangelist.com"
    }
  },
  "host": "atv1.cfapps.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/banks": {
      "get": {
        "summary": "Get Banks",
        "description": "Returns a list of banks",
        "parameters": [
          {
            "name": "filters",
            "description": "The filter for the bank search.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Comma delimited list of fields to search.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "The number of records to return.",
            "required": true,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "offset",
            "description": "The offset of page to return.",
            "required": true,
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/banks"
            }
          }
        },
        "tags": [
          "Banks"
        ]
      }
    },
    "/banks/{bank_id}": {
      "get": {
        "summary": "Get Bank",
        "description": "Returns an individual bank.",
        "parameters": [
          {
            "name": "bank_id",
            "description": "The unique id for the bank.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/bank"
            }
          }
        },
        "tags": [
          "Banks"
        ]
      }
    },
    "/banks/{bank_id}/branches": {
      "get": {
        "summary": "Get Bank",
        "description": "Returns an individual bank.",
        "parameters": [
          {
            "name": "bank_id",
            "description": "The unique id for the bank.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/bank"
            }
          }
        },
        "tags": [
          "Branches"
        ]
      }
    },
    "/banks/{bank_id}/branches/{branch_id}": {
      "get": {
        "summary": "Get Bank Branch",
        "description": "Returns an individual bank branch.",
        "parameters": [
          {
            "name": "bank_id",
            "description": "The unique id for the bank.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "branch_id",
            "description": "The unique id for the bank branch.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/bank"
            }
          }
        },
        "tags": [
          "Branches"
        ]
      }
    },
    "/sdi": {
      "get": {
        "summary": "Get Statistics on Depository Institutions (SDI)",
        "description": "Returns Statistics on Depository Institutions (SDI) listing.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/statistics_on_depository_institutions"
            }
          }
        },
        "tags": [
          "Statistics on Depository Institutions (SDI)"
        ]
      }
    },
    "/sdi/{sdi_id}": {
      "get": {
        "summary": "Get Statistics on Depository Institution (SDI)",
        "description": "Returns individual Statistics on Depository Institutions (SDI).",
        "parameters": [
          {
            "name": "sdi_id",
            "description": "The unique sdi_id for the bank.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/statistics_on_depository_institution"
            }
          }
        },
        "tags": [
          "Statistics on Depository Institutions (SDI)"
        ]
      }
    }
  },
  "definitions": {
    "banks": {
      "type": "object",
      "properties": {
        "meta": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The Type Schema"
            },
            "params": {
              "type": "object",
              "description": "The Type Schema"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "A link to it self."
            }
          }
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "The Address Schema",
                "default": ""
              },
              "city": {
                "type": "string",
                "description": "The City Schema",
                "default": ""
              },
              "cbsa_metro_name": {
                "type": "string",
                "description": "The Cbsa_metro_name Schema",
                "default": ""
              },
              "name": {
                "type": "string",
                "description": "The Name Schema",
                "default": ""
              },
              "namehcr": {
                "type": "string",
                "description": "The Namehcr Schema",
                "default": ""
              },
              "score": {
                "type": "integer",
                "description": "The Score Schema",
                "default": 0
              },
              "id": {
                "type": "string",
                "description": "The Id Schema",
                "default": ""
              },
              "type": {
                "type": "string",
                "description": "The Type Schema",
                "default": ""
              },
              "links": {
                "type": "object",
                "properties": {
                  "self": {
                    "type": "string",
                    "description": "The Self Schema",
                    "default": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "bank": {
      "type": "object",
      "properties": {
        "meta": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The Type Schema",
              "default": ""
            },
            "params": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "default": ""
                }
              }
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "The Self Schema",
              "default": ""
            }
          }
        },
        "data": {
          "type": "object",
          "properties": {
            "cfpbflag": {
              "type": "integer",
              "description": "The Cfpbflag Schema",
              "default": 0
            },
            "rssdhcr": {
              "type": "integer",
              "description": "The Rssdhcr Schema",
              "default": 0
            },
            "specgrp": {
              "type": "integer",
              "description": "The Specgrp Schema",
              "default": 0
            },
            "charter": {
              "type": "integer",
              "description": "The Charter Schema",
              "default": 0
            },
            "county": {
              "type": "string",
              "description": "The County Schema",
              "default": ""
            },
            "cfpbenddte": {
              "type": "string",
              "description": "The Cfpbenddte Schema",
              "default": ""
            },
            "cert": {
              "type": "integer",
              "description": "The Cert Schema",
              "default": 0
            },
            "fdicdbs": {
              "type": "integer",
              "description": "The Fdicdbs Schema",
              "default": 0
            },
            "dep": {
              "type": "string",
              "description": "The Dep Schema",
              "default": ""
            },
            "stnum": {
              "type": "integer",
              "description": "The Stnum Schema",
              "default": 0
            },
            "te10n528": {
              "type": "null",
              "description": "The Te10n528 Schema",
              "default": null
            },
            "cbsa_metro": {
              "type": "integer",
              "description": "The Cbsa_metro Schema",
              "default": 0
            },
            "procdate": {
              "type": "string",
              "description": "The Procdate Schema",
              "default": ""
            },
            "inactive": {
              "type": "integer",
              "description": "The Inactive Schema",
              "default": 0
            },
            "insagnt2": {
              "type": "null",
              "description": "The Insagnt2 Schema",
              "default": null
            },
            "cmsa": {
              "type": "null",
              "description": "The Cmsa Schema",
              "default": null
            },
            "te04n529": {
              "type": "string",
              "description": "The Te04n529 Schema",
              "default": ""
            },
            "te04n528": {
              "type": "string",
              "description": "The Te04n528 Schema",
              "default": ""
            },
            "roaq": {
              "type": "number",
              "description": "The Roaq Schema",
              "default": 0
            },
            "insagnt1": {
              "type": "string",
              "description": "The Insagnt1 Schema",
              "default": ""
            },
            "zip": {
              "type": "integer",
              "description": "The Zip Schema",
              "default": 0
            },
            "insbif": {
              "type": "integer",
              "description": "The Insbif Schema",
              "default": 0
            },
            "stchrtr": {
              "type": "integer",
              "description": "The Stchrtr Schema",
              "default": 0
            },
            "active": {
              "type": "integer",
              "description": "The Active Schema",
              "default": 0
            },
            "stalp": {
              "type": "string",
              "description": "The Stalp Schema",
              "default": ""
            },
            "regagent2": {
              "type": "null",
              "description": "The Regagent2 Schema",
              "default": null
            },
            "te06n528": {
              "type": "null",
              "description": "The Te06n528 Schema",
              "default": null
            },
            "te06n529": {
              "type": "string",
              "description": "The Te06n529 Schema",
              "default": ""
            },
            "insdate": {
              "type": "string",
              "description": "The Insdate Schema",
              "default": ""
            },
            "fdicsupv": {
              "type": "string",
              "description": "The Fdicsupv Schema",
              "default": ""
            },
            "instcrcd": {
              "type": "integer",
              "description": "The Instcrcd Schema",
              "default": 0
            },
            "offdom": {
              "type": "integer",
              "description": "The Offdom Schema",
              "default": 0
            },
            "city": {
              "type": "string",
              "description": "The City Schema",
              "default": ""
            },
            "qbprcoml": {
              "type": "integer",
              "description": "The Qbprcoml Schema",
              "default": 0
            },
            "te07n528": {
              "type": "null",
              "description": "The Te07n528 Schema",
              "default": null
            },
            "otsregnm": {
              "type": "string",
              "description": "The Otsregnm Schema",
              "default": ""
            },
            "occdist": {
              "type": "integer",
              "description": "The Occdist Schema",
              "default": 0
            },
            "fedchrtr": {
              "type": "integer",
              "description": "The Fedchrtr Schema",
              "default": 0
            },
            "repdte": {
              "type": "string",
              "description": "The Repdte Schema",
              "default": ""
            },
            "certcons": {
              "type": "integer",
              "description": "The Certcons Schema",
              "default": 0
            },
            "te09n528": {
              "type": "null",
              "description": "The Te09n528 Schema",
              "default": null
            },
            "netinc": {
              "type": "string",
              "description": "The Netinc Schema",
              "default": ""
            },
            "denovo": {
              "type": "integer",
              "description": "The Denovo Schema",
              "default": 0
            },
            "cityhcr": {
              "type": "string",
              "description": "The Cityhcr Schema",
              "default": ""
            },
            "inscoml": {
              "type": "integer",
              "description": "The Inscoml Schema",
              "default": 0
            },
            "cb": {
              "type": "integer",
              "description": "The Cb Schema",
              "default": 0
            },
            "subchaps": {
              "type": "integer",
              "description": "The Subchaps Schema",
              "default": 0
            },
            "roaptx": {
              "type": "number",
              "description": "The Roaptx Schema",
              "default": 0
            },
            "address": {
              "type": "string",
              "description": "The Address Schema",
              "default": ""
            },
            "cbsa_micro_flg": {
              "type": "integer",
              "description": "The Cbsa_micro_flg Schema",
              "default": 0
            },
            "iba": {
              "type": "integer",
              "description": "The Iba Schema",
              "default": 0
            },
            "estymd": {
              "type": "string",
              "description": "The Estymd Schema",
              "default": ""
            },
            "fed_rssd": {
              "type": "integer",
              "description": "The Fed_rssd Schema",
              "default": 0
            },
            "uninum": {
              "type": "integer",
              "description": "The Uninum Schema",
              "default": 0
            },
            "cbsa_div_no": {
              "type": "integer",
              "description": "The Cbsa_div_no Schema",
              "default": 0
            },
            "inssaif": {
              "type": "integer",
              "description": "The Inssaif Schema",
              "default": 0
            },
            "ultcert": {
              "type": "integer",
              "description": "The Ultcert Schema",
              "default": 0
            },
            "te02n529": {
              "type": "string",
              "description": "The Te02n529 Schema",
              "default": ""
            },
            "te02n528": {
              "type": "string",
              "description": "The Te02n528 Schema",
              "default": ""
            },
            "msa": {
              "type": "string",
              "description": "The Msa Schema",
              "default": ""
            },
            "asset": {
              "type": "string",
              "description": "The Asset Schema",
              "default": ""
            },
            "form31": {
              "type": "integer",
              "description": "The Form31 Schema",
              "default": 0
            },
            "fldoff": {
              "type": "string",
              "description": "The Fldoff Schema",
              "default": ""
            },
            "changec3": {
              "type": "integer",
              "description": "The Changec3 Schema",
              "default": 0
            },
            "changec4": {
              "type": "integer",
              "description": "The Changec4 Schema",
              "default": 0
            },
            "changec5": {
              "type": "integer",
              "description": "The Changec5 Schema",
              "default": 0
            },
            "oakar": {
              "type": "integer",
              "description": "The Oakar Schema",
              "default": 0
            },
            "fed": {
              "type": "integer",
              "description": "The Fed Schema",
              "default": 0
            },
            "hctmult": {
              "type": "integer",
              "description": "The Hctmult Schema",
              "default": 0
            },
            "te03n529": {
              "type": "string",
              "description": "The Te03n529 Schema",
              "default": ""
            },
            "te03n528": {
              "type": "string",
              "description": "The Te03n528 Schema",
              "default": ""
            },
            "msa_no": {
              "type": "integer",
              "description": "The Msa_no Schema",
              "default": 0
            },
            "offices": {
              "type": "integer",
              "description": "The Offices Schema",
              "default": 0
            },
            "bkclass": {
              "type": "string",
              "description": "The Bkclass Schema",
              "default": ""
            },
            "sasser": {
              "type": "integer",
              "description": "The Sasser Schema",
              "default": 0
            },
            "te01n528": {
              "type": "string",
              "description": "The Te01n528 Schema",
              "default": ""
            },
            "stalphcr": {
              "type": "string",
              "description": "The Stalphcr Schema",
              "default": ""
            },
            "cbsa_no": {
              "type": "integer",
              "description": "The Cbsa_no Schema",
              "default": 0
            },
            "roeq": {
              "type": "number",
              "description": "The Roeq Schema",
              "default": 0
            },
            "instag": {
              "type": "integer",
              "description": "The Instag Schema",
              "default": 0
            },
            "otsdist": {
              "type": "integer",
              "description": "The Otsdist Schema",
              "default": 0
            },
            "te05n528": {
              "type": "null",
              "description": "The Te05n528 Schema",
              "default": null
            },
            "cmsa_no": {
              "type": "integer",
              "description": "The Cmsa_no Schema",
              "default": 0
            },
            "insdif": {
              "type": "integer",
              "description": "The Insdif Schema",
              "default": 0
            },
            "te05n529": {
              "type": "string",
              "description": "The Te05n529 Schema",
              "default": ""
            },
            "cbsa_metro_flg": {
              "type": "integer",
              "description": "The Cbsa_metro_flg Schema",
              "default": 0
            },
            "netincq": {
              "type": "string",
              "description": "The Netincq Schema",
              "default": ""
            },
            "eq": {
              "type": "string",
              "description": "The Eq Schema",
              "default": ""
            },
            "branches": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "offnum": {
                    "type": "integer",
                    "description": "The Offnum Schema",
                    "default": 0
                  },
                  "name": {
                    "type": "string",
                    "description": "The Name Schema",
                    "default": ""
                  },
                  "offname": {
                    "type": "string",
                    "description": "The Offname Schema",
                    "default": ""
                  },
                  "type": {
                    "type": "string",
                    "description": "The Type Schema",
                    "default": ""
                  }
                }
              }
            },
            "mutual": {
              "type": "integer",
              "description": "The Mutual Schema",
              "default": 0
            },
            "webaddr": {
              "type": "string",
              "description": "The Webaddr Schema",
              "default": ""
            },
            "name": {
              "type": "string",
              "description": "The Name Schema",
              "default": ""
            },
            "regagnt": {
              "type": "string",
              "description": "The Regagnt Schema",
              "default": ""
            },
            "roaptxq": {
              "type": "number",
              "description": "The Roaptxq Schema",
              "default": 0
            },
            "specgrpn": {
              "type": "string",
              "description": "The Specgrpn Schema",
              "default": ""
            },
            "depdom": {
              "type": "string",
              "description": "The Depdom Schema",
              "default": ""
            },
            "effdate": {
              "type": "string",
              "description": "The Effdate Schema",
              "default": ""
            },
            "endefymd": {
              "type": "string",
              "description": "The Endefymd Schema",
              "default": ""
            },
            "changec1": {
              "type": "integer",
              "description": "The Changec1 Schema",
              "default": 0
            },
            "csa_no": {
              "type": "integer",
              "description": "The Csa_no Schema",
              "default": 0
            },
            "stname": {
              "type": "string",
              "description": "The Stname Schema",
              "default": ""
            },
            "changec2": {
              "type": "integer",
              "description": "The Changec2 Schema",
              "default": 0
            },
            "trust": {
              "type": "integer",
              "description": "The Trust Schema",
              "default": 0
            },
            "stmult": {
              "type": "integer",
              "description": "The Stmult Schema",
              "default": 0
            },
            "tract": {
              "type": "integer",
              "description": "The Tract Schema",
              "default": 0
            },
            "cbsa": {
              "type": "string",
              "description": "The Cbsa Schema",
              "default": ""
            },
            "roa": {
              "type": "number",
              "description": "The Roa Schema",
              "default": 0
            },
            "clcode": {
              "type": "integer",
              "description": "The Clcode Schema",
              "default": 0
            },
            "inssave": {
              "type": "integer",
              "description": "The Inssave Schema",
              "default": 0
            },
            "newcert": {
              "type": "integer",
              "description": "The Newcert Schema",
              "default": 0
            },
            "te08n528": {
              "type": "null",
              "description": "The Te08n528 Schema",
              "default": null
            },
            "cbsa_div": {
              "type": "null",
              "description": "The Cbsa_div Schema",
              "default": null
            },
            "roe": {
              "type": "number",
              "description": "The Roe Schema",
              "default": 0
            },
            "docket": {
              "type": "integer",
              "description": "The Docket Schema",
              "default": 0
            },
            "offfor": {
              "type": "integer",
              "description": "The Offfor Schema",
              "default": 0
            },
            "offoa": {
              "type": "integer",
              "description": "The Offoa Schema",
              "default": 0
            },
            "fdicregn": {
              "type": "string",
              "description": "The Fdicregn Schema",
              "default": ""
            },
            "law_sasser_flg": {
              "type": "string",
              "description": "The Law_sasser_flg Schema",
              "default": ""
            },
            "namehcr": {
              "type": "string",
              "description": "The Namehcr Schema",
              "default": ""
            },
            "rundate": {
              "type": "string",
              "description": "The Rundate Schema",
              "default": ""
            },
            "csa_flg": {
              "type": "integer",
              "description": "The Csa_flg Schema"
            },
            "cfpbeffdte": {
              "type": "string",
              "description": "The Cfpbeffdte Schema",
              "default": ""
            },
            "stcnty": {
              "type": "integer",
              "description": "The Stcnty Schema",
              "default": 0
            },
            "insfdic": {
              "type": "integer",
              "description": "The Insfdic Schema",
              "default": 0
            },
            "cbsa_div_flg": {
              "type": "integer",
              "description": "The Cbsa_div_flg Schema",
              "default": 0
            },
            "chrtagnt": {
              "type": "string",
              "description": "The Chrtagnt Schema",
              "default": ""
            },
            "te01n529": {
              "type": "string",
              "description": "The Te01n529 Schema",
              "default": ""
            },
            "conserve": {
              "type": "string",
              "description": "The Conserve Schema",
              "default": ""
            },
            "parcert": {
              "type": "integer",
              "description": "The Parcert Schema",
              "default": 0
            },
            "csa": {
              "type": "string",
              "description": "The Csa Schema",
              "default": ""
            },
            "dateupdt": {
              "type": "string",
              "description": "The Dateupdt Schema",
              "default": ""
            },
            "cbsa_metro_name": {
              "type": "string",
              "description": "The Cbsa_metro_name Schema",
              "default": ""
            },
            "suprv_fd": {
              "type": "integer",
              "description": "The Suprv_fd Schema",
              "default": 0
            },
            "risdate": {
              "type": "string",
              "description": "The Risdate Schema",
              "default": ""
            },
            "sdi_data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "p9reres": {
                    "type": "integer",
                    "description": "The P9reres Schema",
                    "default": 0
                  },
                  "lnremult": {
                    "type": "integer",
                    "description": "The Lnremult Schema",
                    "default": 0
                  },
                  "offdom": {
                    "type": "integer",
                    "description": "The Offdom Schema",
                    "default": 0
                  },
                  "lnrecnfm": {
                    "type": "integer",
                    "description": "The Lnrecnfm Schema",
                    "default": 0
                  },
                  "reportdate": {
                    "type": "string",
                    "description": "The Reportdate Schema",
                    "default": ""
                  },
                  "lnre": {
                    "type": "integer",
                    "description": "The Lnre Schema",
                    "default": 0
                  },
                  "lnreres": {
                    "type": "integer",
                    "description": "The Lnreres Schema",
                    "default": 0
                  },
                  "cert": {
                    "type": "integer",
                    "description": "The Cert Schema",
                    "default": 0
                  },
                  "asset": {
                    "type": "integer",
                    "description": "The Asset Schema",
                    "default": 0
                  },
                  "p3reres": {
                    "type": "integer",
                    "description": "The P3reres Schema",
                    "default": 0
                  }
                }
              }
            },
            "id": {
              "type": "string",
              "description": "The Id Schema",
              "default": ""
            },
            "type": {
              "type": "string",
              "description": "The Type Schema",
              "default": ""
            }
          }
        }
      }
    },
    "branches": {
      "type": "object",
      "properties": {
        "meta": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The Type Schema"
            },
            "params": {
              "type": "object",
              "properties": {
                "bankId": {
                  "type": "string",
                  "description": "The Bankid Schema"
                }
              }
            },
            "collection": {
              "type": "object",
              "properties": {
                "limit": {
                  "type": "integer",
                  "description": "The Limit Schema"
                },
                "offset": {
                  "type": "integer",
                  "description": "The Offset Schema"
                },
                "totalItems": {
                  "type": "integer",
                  "description": "The Totalitems Schema"
                }
              }
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "The Self Schema"
            }
          }
        },
        "data": {
          "type": "object",
          "properties": {
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "offnum": {
                    "type": "integer",
                    "description": "The Offnum Schema"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Name Schema"
                  },
                  "offname": {
                    "type": "string",
                    "description": "The Offname Schema"
                  },
                  "type": {
                    "type": "string",
                    "description": "The Type Schema"
                  },
                  "id": {
                    "type": "integer",
                    "description": "The Id Schema"
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string",
                        "description": "The Self Schema"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "branch": {
      "type": "object",
      "properties": {
        "meta": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The Type Schema"
            },
            "params": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The Id Schema"
                },
                "bankId": {
                  "type": "string",
                  "description": "The Bankid Schema"
                }
              }
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "The Self Schema"
            }
          }
        },
        "data": {
          "type": "object",
          "properties": {
            "offnum": {
              "type": "integer",
              "description": "The Offnum Schema"
            },
            "cbsa": {
              "type": "string",
              "description": "The Cbsa Schema"
            },
            "city": {
              "type": "string",
              "description": "The City Schema"
            },
            "cbsa_div": {
              "type": "string",
              "description": "The Cbsa_div Schema"
            },
            "county": {
              "type": "string",
              "description": "The County Schema"
            },
            "offname": {
              "type": "string",
              "description": "The Offname Schema"
            },
            "cert": {
              "type": "integer",
              "description": "The Cert Schema"
            },
            "deposit_history": {
              "type": "string",
              "description": "The deposit_history Schema"
            },
            "cbsa_metro": {
              "type": "integer",
              "description": "The Cbsa_metro Schema"
            },
            "bkclass": {
              "type": "string",
              "description": "The Bkclass Schema"
            },
            "rundate": {
              "type": "string",
              "description": "The Rundate Schema"
            },
            "cbsa_no": {
              "type": "integer",
              "description": "The Cbsa_no Schema"
            },
            "csa_flg": {
              "type": "integer",
              "description": "The Csa_flg Schema"
            },
            "mainoff": {
              "type": "integer",
              "description": "The Mainoff Schema"
            },
            "stcnty": {
              "type": "integer",
              "description": "The Stcnty Schema"
            },
            "zip": {
              "type": "integer",
              "description": "The Zip Schema"
            },
            "address": {
              "type": "string",
              "description": "The Address Schema"
            },
            "cbsa_div_flg": {
              "type": "integer",
              "description": "The Cbsa_div_flg Schema"
            },
            "fi_uninum": {
              "type": "integer",
              "description": "The Fi_uninum Schema"
            },
            "cbsa_metro_flg": {
              "type": "integer",
              "description": "The Cbsa_metro_flg Schema"
            },
            "cbsa_micro_flg": {
              "type": "integer",
              "description": "The Cbsa_micro_flg Schema"
            },
            "servtype": {
              "type": "integer",
              "description": "The Servtype Schema"
            },
            "estymd": {
              "type": "string",
              "description": "The Estymd Schema"
            },
            "stalp": {
              "type": "string",
              "description": "The Stalp Schema"
            },
            "cbsa_div_no": {
              "type": "integer",
              "description": "The Cbsa_div_no Schema"
            },
            "csa": {
              "type": "string",
              "description": "The Csa Schema"
            },
            "uninum": {
              "type": "integer",
              "description": "The Uninum Schema"
            },
            "cbsa_metro_name": {
              "type": "string",
              "description": "The Cbsa_metro_name Schema"
            },
            "name": {
              "type": "string",
              "description": "The Name Schema"
            },
            "csa_no": {
              "type": "integer",
              "description": "The Csa_no Schema"
            },
            "stname": {
              "type": "string",
              "description": "The Stname Schema"
            },
            "type": {
              "type": "string",
              "description": "The Type Schema"
            },
            "id": {
              "type": "integer",
              "description": "The Id Schema"
            }
          }
        }
      }
    },
    "statistics_on_depository_institutions": {
      "type": "object",
      "properties": {
        "meta": {
          "$id": "/properties/meta",
          "type": "object",
          "properties": {
            "type": {
              "$id": "/properties/meta/properties/type",
              "type": "string",
              "title": "The Type Schema"
            },
            "params": {
              "$id": "/properties/meta/properties/params",
              "type": "object"
            },
            "collection": {
              "$id": "/properties/meta/properties/collection",
              "type": "object",
              "properties": {
                "limit": {
                  "$id": "/properties/meta/properties/collection/properties/limit",
                  "type": "integer",
                  "title": "The Limit Schema"
                },
                "offset": {
                  "$id": "/properties/meta/properties/collection/properties/offset",
                  "type": "integer",
                  "title": "The Offset Schema"
                },
                "totalItems": {
                  "$id": "/properties/meta/properties/collection/properties/totalItems",
                  "type": "integer",
                  "title": "The Totalitems Schema"
                }
              }
            }
          }
        },
        "links": {
          "$id": "/properties/links",
          "type": "object",
          "properties": {
            "self": {
              "$id": "/properties/links/properties/self",
              "type": "string",
              "title": "The Self Schema"
            }
          }
        },
        "data": {
          "$id": "/properties/data",
          "type": "object",
          "properties": {
            "items": {
              "$id": "/properties/data/properties/items",
              "type": "array",
              "items": {
                "$id": "/properties/data/properties/items/items",
                "type": "object",
                "properties": {
                  "address": {
                    "$id": "/properties/data/properties/items/items/properties/address",
                    "type": "string",
                    "title": "The Address Schema"
                  },
                  "city": {
                    "$id": "/properties/data/properties/items/items/properties/city",
                    "type": "string",
                    "title": "The City Schema"
                  },
                  "cbsa_metro_name": {
                    "$id": "/properties/data/properties/items/items/properties/cbsa_metro_name",
                    "type": "string",
                    "title": "The Cbsa_metro_name Schema"
                  },
                  "name": {
                    "$id": "/properties/data/properties/items/items/properties/name",
                    "type": "string",
                    "title": "The Name Schema"
                  },
                  "instwebaddr": {
                    "$id": "/properties/data/properties/items/items/properties/instwebaddr",
                    "type": "string",
                    "title": "The Instwebaddr Schema"
                  },
                  "namehcr": {
                    "$id": "/properties/data/properties/items/items/properties/namehcr",
                    "type": "string",
                    "title": "The Namehcr Schema"
                  },
                  "score": {
                    "$id": "/properties/data/properties/items/items/properties/score",
                    "type": "integer",
                    "title": "The Score Schema"
                  },
                  "id": {
                    "$id": "/properties/data/properties/items/items/properties/id",
                    "type": "string",
                    "title": "The Id Schema"
                  },
                  "type": {
                    "$id": "/properties/data/properties/items/items/properties/type",
                    "type": "string",
                    "title": "The Type Schema"
                  },
                  "links": {
                    "$id": "/properties/data/properties/items/items/properties/links",
                    "type": "object",
                    "properties": {
                      "self": {
                        "$id": "/properties/data/properties/items/items/properties/links/properties/self",
                        "type": "string",
                        "title": "The Self Schema"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "statistics_on_depository_institution": {
      "type": "object",
      "properties": {
        "meta": {
          "$id": "/properties/meta",
          "type": "object",
          "properties": {
            "type": {
              "$id": "/properties/meta/properties/type",
              "type": "string",
              "title": "The Type Schema"
            },
            "params": {
              "$id": "/properties/meta/properties/params",
              "type": "object",
              "properties": {
                "id": {
                  "$id": "/properties/meta/properties/params/properties/id",
                  "type": "string",
                  "title": "The Id Schema"
                }
              }
            }
          }
        },
        "links": {
          "$id": "/properties/links",
          "type": "object",
          "properties": {
            "self": {
              "$id": "/properties/links/properties/self",
              "type": "string",
              "title": "The Self Schema"
            }
          }
        },
        "data": {
          "$id": "/properties/data",
          "type": "object",
          "properties": {
            "cert": {
              "$id": "/properties/data/properties/cert",
              "type": "integer",
              "title": "The Cert Schema"
            },
            "docket": {
              "$id": "/properties/data/properties/docket",
              "type": "integer",
              "title": "The Docket Schema"
            },
            "fed_rssd": {
              "$id": "/properties/data/properties/fed_rssd",
              "type": "integer",
              "title": "The Fed_rssd Schema"
            },
            "rssdhcr": {
              "$id": "/properties/data/properties/rssdhcr",
              "type": "integer",
              "title": "The Rssdhcr Schema"
            },
            "name": {
              "$id": "/properties/data/properties/name",
              "type": "string",
              "title": "The Name Schema"
            },
            "city": {
              "$id": "/properties/data/properties/city",
              "type": "string",
              "title": "The City Schema"
            },
            "stalp": {
              "$id": "/properties/data/properties/stalp",
              "type": "string",
              "title": "The Stalp Schema"
            },
            "zip": {
              "$id": "/properties/data/properties/zip",
              "type": "integer",
              "title": "The Zip Schema"
            },
            "repdte": {
              "$id": "/properties/data/properties/repdte",
              "type": "string",
              "title": "The Repdte Schema"
            },
            "rundate": {
              "$id": "/properties/data/properties/rundate",
              "type": "string",
              "title": "The Rundate Schema"
            },
            "bkclass": {
              "$id": "/properties/data/properties/bkclass",
              "type": "string",
              "title": "The Bkclass Schema"
            },
            "address": {
              "$id": "/properties/data/properties/address",
              "type": "string",
              "title": "The Address Schema"
            },
            "namehcr": {
              "$id": "/properties/data/properties/namehcr",
              "type": "string",
              "title": "The Namehcr Schema"
            },
            "offdom": {
              "$id": "/properties/data/properties/offdom",
              "type": "integer",
              "title": "The Offdom Schema"
            },
            "offfor": {
              "$id": "/properties/data/properties/offfor",
              "type": "integer",
              "title": "The Offfor Schema"
            },
            "stmult": {
              "$id": "/properties/data/properties/stmult",
              "type": "integer",
              "title": "The Stmult Schema"
            },
            "specgrp": {
              "$id": "/properties/data/properties/specgrp",
              "type": "integer",
              "title": "The Specgrp Schema"
            },
            "subchaps": {
              "$id": "/properties/data/properties/subchaps",
              "type": "integer",
              "title": "The Subchaps Schema"
            },
            "county": {
              "$id": "/properties/data/properties/county",
              "type": "string",
              "title": "The County Schema"
            },
            "cbsa_metro": {
              "$id": "/properties/data/properties/cbsa_metro",
              "type": "string",
              "title": "The Cbsa_metro Schema"
            },
            "cbsa_metro_name": {
              "$id": "/properties/data/properties/cbsa_metro_name",
              "type": "string",
              "title": "The Cbsa_metro_name Schema"
            },
            "estymd": {
              "$id": "/properties/data/properties/estymd",
              "type": "string",
              "title": "The Estymd Schema"
            },
            "insdate": {
              "$id": "/properties/data/properties/insdate",
              "type": "string",
              "title": "The Insdate Schema"
            },
            "effdate": {
              "$id": "/properties/data/properties/effdate",
              "type": "string",
              "title": "The Effdate Schema"
            },
            "mutual": {
              "$id": "/properties/data/properties/mutual",
              "type": "string",
              "title": "The Mutual Schema"
            },
            "parcert": {
              "$id": "/properties/data/properties/parcert",
              "type": "integer",
              "title": "The Parcert Schema"
            },
            "trust": {
              "$id": "/properties/data/properties/trust",
              "type": "integer",
              "title": "The Trust Schema"
            },
            "regagnt": {
              "$id": "/properties/data/properties/regagnt",
              "type": "string",
              "title": "The Regagnt Schema"
            },
            "insagnt1": {
              "$id": "/properties/data/properties/insagnt1",
              "type": "string",
              "title": "The Insagnt1 Schema"
            },
            "fdicdbs": {
              "$id": "/properties/data/properties/fdicdbs",
              "type": "string",
              "title": "The Fdicdbs Schema"
            },
            "fdicsupv": {
              "$id": "/properties/data/properties/fdicsupv",
              "type": "string",
              "title": "The Fdicsupv Schema"
            },
            "fldoff": {
              "$id": "/properties/data/properties/fldoff",
              "type": "string",
              "title": "The Fldoff Schema"
            },
            "fed": {
              "$id": "/properties/data/properties/fed",
              "type": "string",
              "title": "The Fed Schema"
            },
            "occdist": {
              "$id": "/properties/data/properties/occdist",
              "type": "string",
              "title": "The Occdist Schema"
            },
            "otsregnm": {
              "$id": "/properties/data/properties/otsregnm",
              "type": "string",
              "title": "The Otsregnm Schema"
            },
            "offoa": {
              "$id": "/properties/data/properties/offoa",
              "type": "integer",
              "title": "The Offoa Schema"
            },
            "cb": {
              "$id": "/properties/data/properties/cb",
              "type": "integer",
              "title": "The Cb Schema"
            },
            "instwebaddr": {
              "$id": "/properties/data/properties/instwebaddr",
              "type": "string",
              "title": "The Instwebaddr Schema"
            },
            "trpower": {
              "$id": "/properties/data/properties/trpower",
              "type": "integer",
              "title": "The Trpower Schema"
            },
            "trexer": {
              "$id": "/properties/data/properties/trexer",
              "type": "integer",
              "title": "The Trexer Schema"
            },
            "tract": {
              "$id": "/properties/data/properties/tract",
              "type": "integer",
              "title": "The Tract Schema"
            },
            "idfranum": {
              "$id": "/properties/data/properties/idfranum",
              "type": "integer",
              "title": "The Idfranum Schema"
            },
            "ttnanum": {
              "$id": "/properties/data/properties/ttnanum",
              "type": "integer",
              "title": "The Ttnanum Schema"
            },
            "ttnmnum": {
              "$id": "/properties/data/properties/ttnmnum",
              "type": "integer",
              "title": "The Ttnmnum Schema"
            },
            "idtfra": {
              "$id": "/properties/data/properties/idtfra",
              "type": "integer",
              "title": "The Idtfra Schema"
            },
            "ttma": {
              "$id": "/properties/data/properties/ttma",
              "type": "integer",
              "title": "The Ttma Schema"
            },
            "ttnma": {
              "$id": "/properties/data/properties/ttnma",
              "type": "integer",
              "title": "The Ttnma Schema"
            },
            "ifiduc": {
              "$id": "/properties/data/properties/ifiduc",
              "type": "integer",
              "title": "The Ifiduc Schema"
            },
            "reportdate": {
              "$id": "/properties/data/properties/reportdate",
              "type": "string",
              "title": "The Reportdate Schema"
            },
            "nareres": {
              "$id": "/properties/data/properties/nareres",
              "type": "integer",
              "title": "The Nareres Schema"
            },
            "narersfm": {
              "$id": "/properties/data/properties/narersfm",
              "type": "integer",
              "title": "The Narersfm Schema"
            },
            "narersf2": {
              "$id": "/properties/data/properties/narersf2",
              "type": "integer",
              "title": "The Narersf2 Schema"
            },
            "nareloc": {
              "$id": "/properties/data/properties/nareloc",
              "type": "integer",
              "title": "The Nareloc Schema"
            },
            "tcapao": {
              "$id": "/properties/data/properties/tcapao",
              "type": "string",
              "title": "The Tcapao Schema"
            },
            "tcapaod": {
              "$id": "/properties/data/properties/tcapaod",
              "type": "string",
              "title": "The Tcapaod Schema"
            },
            "tcanum": {
              "$id": "/properties/data/properties/tcanum",
              "type": "string",
              "title": "The Tcanum Schema"
            },
            "tcanumd": {
              "$id": "/properties/data/properties/tcanumd",
              "type": "string",
              "title": "The Tcanumd Schema"
            },
            "tcatnum": {
              "$id": "/properties/data/properties/tcatnum",
              "type": "string",
              "title": "The Tcatnum Schema"
            },
            "ttotmagl": {
              "$id": "/properties/data/properties/ttotmagl",
              "type": "string",
              "title": "The Ttotmagl Schema"
            },
            "tpmagl": {
              "$id": "/properties/data/properties/tpmagl",
              "type": "string",
              "title": "The Tpmagl Schema"
            },
            "trtmagl": {
              "$id": "/properties/data/properties/trtmagl",
              "type": "string",
              "title": "The Trtmagl Schema"
            },
            "timmagl": {
              "$id": "/properties/data/properties/timmagl",
              "type": "string",
              "title": "The Timmagl Schema"
            },
            "tofmagl": {
              "$id": "/properties/data/properties/tofmagl",
              "type": "string",
              "title": "The Tofmagl Schema"
            },
            "ttotnmgl": {
              "$id": "/properties/data/properties/ttotnmgl",
              "type": "string",
              "title": "The Ttotnmgl Schema"
            },
            "tpnmgl": {
              "$id": "/properties/data/properties/tpnmgl",
              "type": "string",
              "title": "The Tpnmgl Schema"
            },
            "trtnmgl": {
              "$id": "/properties/data/properties/trtnmgl",
              "type": "string",
              "title": "The Trtnmgl Schema"
            },
            "timnmgl": {
              "$id": "/properties/data/properties/timnmgl",
              "type": "string",
              "title": "The Timnmgl Schema"
            },
            "tofnmagl": {
              "$id": "/properties/data/properties/tofnmagl",
              "type": "string",
              "title": "The Tofnmagl Schema"
            },
            "ttotrec": {
              "$id": "/properties/data/properties/ttotrec",
              "type": "string",
              "title": "The Ttotrec Schema"
            },
            "tptrec": {
              "$id": "/properties/data/properties/tptrec",
              "type": "string",
              "title": "The Tptrec Schema"
            },
            "trtrec": {
              "$id": "/properties/data/properties/trtrec",
              "type": "string",
              "title": "The Trtrec Schema"
            },
            "timrec": {
              "$id": "/properties/data/properties/timrec",
              "type": "string",
              "title": "The Timrec Schema"
            },
            "tofrec": {
              "$id": "/properties/data/properties/tofrec",
              "type": "string",
              "title": "The Tofrec Schema"
            },
            "eqcprev": {
              "$id": "/properties/data/properties/eqcprev",
              "type": "integer",
              "title": "The Eqcprev Schema"
            },
            "eqcrest": {
              "$id": "/properties/data/properties/eqcrest",
              "type": "integer",
              "title": "The Eqcrest Schema"
            },
            "netinc": {
              "$id": "/properties/data/properties/netinc",
              "type": "integer",
              "title": "The Netinc Schema"
            },
            "eqcstkrx": {
              "$id": "/properties/data/properties/eqcstkrx",
              "type": "integer",
              "title": "The Eqcstkrx Schema"
            },
            "eqctrstx": {
              "$id": "/properties/data/properties/eqctrstx",
              "type": "integer",
              "title": "The Eqctrstx Schema"
            },
            "eqcmrg": {
              "$id": "/properties/data/properties/eqcmrg",
              "type": "integer",
              "title": "The Eqcmrg Schema"
            },
            "eqcdivp": {
              "$id": "/properties/data/properties/eqcdivp",
              "type": "integer",
              "title": "The Eqcdivp Schema"
            },
            "eqcdivc": {
              "$id": "/properties/data/properties/eqcdivc",
              "type": "integer",
              "title": "The Eqcdivc Schema"
            },
            "eqccompi": {
              "$id": "/properties/data/properties/eqccompi",
              "type": "integer",
              "title": "The Eqccompi Schema"
            },
            "eqcbhctr": {
              "$id": "/properties/data/properties/eqcbhctr",
              "type": "integer",
              "title": "The Eqcbhctr Schema"
            },
            "eq": {
              "$id": "/properties/data/properties/eq",
              "type": "integer",
              "title": "The Eq Schema"
            },
            "intinc": {
              "$id": "/properties/data/properties/intinc",
              "type": "integer",
              "title": "The Intinc Schema"
            },
            "ilndom": {
              "$id": "/properties/data/properties/ilndom",
              "type": "integer",
              "title": "The Ilndom Schema"
            },
            "ilnfor": {
              "$id": "/properties/data/properties/ilnfor",
              "type": "string",
              "title": "The Ilnfor Schema"
            },
            "ils": {
              "$id": "/properties/data/properties/ils",
              "type": "integer",
              "title": "The Ils Schema"
            },
            "ichbal": {
              "$id": "/properties/data/properties/ichbal",
              "type": "integer",
              "title": "The Ichbal Schema"
            },
            "isc": {
              "$id": "/properties/data/properties/isc",
              "type": "integer",
              "title": "The Isc Schema"
            },
            "itrade": {
              "$id": "/properties/data/properties/itrade",
              "type": "integer",
              "title": "The Itrade Schema"
            },
            "ifrepo": {
              "$id": "/properties/data/properties/ifrepo",
              "type": "integer",
              "title": "The Ifrepo Schema"
            },
            "iothii": {
              "$id": "/properties/data/properties/iothii",
              "type": "integer",
              "title": "The Iothii Schema"
            },
            "dep": {
              "$id": "/properties/data/properties/dep",
              "type": "integer",
              "title": "The Dep Schema"
            },
            "depdom": {
              "$id": "/properties/data/properties/depdom",
              "type": "integer",
              "title": "The Depdom Schema"
            },
            "idtrni": {
              "$id": "/properties/data/properties/idtrni",
              "type": "integer",
              "title": "The Idtrni Schema"
            },
            "idtrngov": {
              "$id": "/properties/data/properties/idtrngov",
              "type": "integer",
              "title": "The Idtrngov Schema"
            },
            "idtrnmu": {
              "$id": "/properties/data/properties/idtrnmu",
              "type": "integer",
              "title": "The Idtrnmu Schema"
            },
            "idtrcomb": {
              "$id": "/properties/data/properties/idtrcomb",
              "type": "integer",
              "title": "The Idtrcomb Schema"
            },
            "idtrnfc": {
              "$id": "/properties/data/properties/idtrnfc",
              "type": "integer",
              "title": "The Idtrnfc Schema"
            },
            "idtrnfg": {
              "$id": "/properties/data/properties/idtrnfg",
              "type": "integer",
              "title": "The Idtrnfg Schema"
            },
            "depfor": {
              "$id": "/properties/data/properties/depfor",
              "type": "string",
              "title": "The Depfor Schema"
            },
            "trn": {
              "$id": "/properties/data/properties/trn",
              "type": "integer",
              "title": "The Trn Schema"
            },
            "ddt": {
              "$id": "/properties/data/properties/ddt",
              "type": "integer",
              "title": "The Ddt Schema"
            },
            "ntr": {
              "$id": "/properties/data/properties/ntr",
              "type": "integer",
              "title": "The Ntr Schema"
            },
            "ntrsmmda": {
              "$id": "/properties/data/properties/ntrsmmda",
              "type": "integer",
              "title": "The Ntrsmmda Schema"
            },
            "ntrsoth": {
              "$id": "/properties/data/properties/ntrsoth",
              "type": "integer",
              "title": "The Ntrsoth Schema"
            },
            "ntrtime": {
              "$id": "/properties/data/properties/ntrtime",
              "type": "integer",
              "title": "The Ntrtime Schema"
            },
            "ts": {
              "$id": "/properties/data/properties/ts",
              "type": "integer",
              "title": "The Ts Schema"
            },
            "depnidom": {
              "$id": "/properties/data/properties/depnidom",
              "type": "integer",
              "title": "The Depnidom Schema"
            },
            "depidom": {
              "$id": "/properties/data/properties/depidom",
              "type": "integer",
              "title": "The Depidom Schema"
            },
            "coredep": {
              "$id": "/properties/data/properties/coredep",
              "type": "integer",
              "title": "The Coredep Schema"
            },
            "depins": {
              "$id": "/properties/data/properties/depins",
              "type": "integer",
              "title": "The Depins Schema"
            },
            "irakeogh": {
              "$id": "/properties/data/properties/irakeogh",
              "type": "integer",
              "title": "The Irakeogh Schema"
            },
            "bro": {
              "$id": "/properties/data/properties/bro",
              "type": "integer",
              "title": "The Bro Schema"
            },
            "broins": {
              "$id": "/properties/data/properties/broins",
              "type": "integer",
              "title": "The Broins Schema"
            },
            "deplsnb": {
              "$id": "/properties/data/properties/deplsnb",
              "type": "integer",
              "title": "The Deplsnb Schema"
            },
            "depnifor": {
              "$id": "/properties/data/properties/depnifor",
              "type": "string",
              "title": "The Depnifor Schema"
            },
            "depifor": {
              "$id": "/properties/data/properties/depifor",
              "type": "string",
              "title": "The Depifor Schema"
            },
            "webaddr": {
              "$id": "/properties/data/properties/webaddr",
              "type": "string",
              "title": "The Webaddr Schema"
            },
            "numemp": {
              "$id": "/properties/data/properties/numemp",
              "type": "integer",
              "title": "The Numemp Schema"
            },
            "asset": {
              "$id": "/properties/data/properties/asset",
              "type": "integer",
              "title": "The Asset Schema"
            },
            "chbal": {
              "$id": "/properties/data/properties/chbal",
              "type": "integer",
              "title": "The Chbal Schema"
            },
            "chbali": {
              "$id": "/properties/data/properties/chbali",
              "type": "integer",
              "title": "The Chbali Schema"
            },
            "sc": {
              "$id": "/properties/data/properties/sc",
              "type": "integer",
              "title": "The Sc Schema"
            },
            "frepo": {
              "$id": "/properties/data/properties/frepo",
              "type": "integer",
              "title": "The Frepo Schema"
            },
            "lnlsnet": {
              "$id": "/properties/data/properties/lnlsnet",
              "type": "integer",
              "title": "The Lnlsnet Schema"
            },
            "lnatres": {
              "$id": "/properties/data/properties/lnatres",
              "type": "integer",
              "title": "The Lnatres Schema"
            },
            "trade": {
              "$id": "/properties/data/properties/trade",
              "type": "integer",
              "title": "The Trade Schema"
            },
            "bkprem": {
              "$id": "/properties/data/properties/bkprem",
              "type": "integer",
              "title": "The Bkprem Schema"
            },
            "ore": {
              "$id": "/properties/data/properties/ore",
              "type": "integer",
              "title": "The Ore Schema"
            },
            "intan": {
              "$id": "/properties/data/properties/intan",
              "type": "integer",
              "title": "The Intan Schema"
            },
            "idoa": {
              "$id": "/properties/data/properties/idoa",
              "type": "integer",
              "title": "The Idoa Schema"
            },
            "liabeq": {
              "$id": "/properties/data/properties/liabeq",
              "type": "integer",
              "title": "The Liabeq Schema"
            },
            "liab": {
              "$id": "/properties/data/properties/liab",
              "type": "integer",
              "title": "The Liab Schema"
            },
            "depi": {
              "$id": "/properties/data/properties/depi",
              "type": "integer",
              "title": "The Depi Schema"
            },
            "iddepinr": {
              "$id": "/properties/data/properties/iddepinr",
              "type": "number",
              "title": "The Iddepinr Schema"
            },
            "frepp": {
              "$id": "/properties/data/properties/frepp",
              "type": "integer",
              "title": "The Frepp Schema"
            },
            "tradel": {
              "$id": "/properties/data/properties/tradel",
              "type": "integer",
              "title": "The Tradel Schema"
            },
            "idobrmtg": {
              "$id": "/properties/data/properties/idobrmtg",
              "type": "integer",
              "title": "The Idobrmtg Schema"
            },
            "subnd": {
              "$id": "/properties/data/properties/subnd",
              "type": "integer",
              "title": "The Subnd Schema"
            },
            "idoliab": {
              "$id": "/properties/data/properties/idoliab",
              "type": "integer",
              "title": "The Idoliab Schema"
            },
            "eqtot": {
              "$id": "/properties/data/properties/eqtot",
              "type": "integer",
              "title": "The Eqtot Schema"
            },
            "eqpp": {
              "$id": "/properties/data/properties/eqpp",
              "type": "integer",
              "title": "The Eqpp Schema"
            },
            "eqcs": {
              "$id": "/properties/data/properties/eqcs",
              "type": "integer",
              "title": "The Eqcs Schema"
            },
            "eqsur": {
              "$id": "/properties/data/properties/eqsur",
              "type": "integer",
              "title": "The Eqsur Schema"
            },
            "equptot": {
              "$id": "/properties/data/properties/equptot",
              "type": "integer",
              "title": "The Equptot Schema"
            },
            "eqconsub": {
              "$id": "/properties/data/properties/eqconsub",
              "type": "integer",
              "title": "The Eqconsub Schema"
            },
            "nclnls": {
              "$id": "/properties/data/properties/nclnls",
              "type": "integer",
              "title": "The Nclnls Schema"
            },
            "ncgtypar": {
              "$id": "/properties/data/properties/ncgtypar",
              "type": "integer",
              "title": "The Ncgtypar Schema"
            },
            "oaienc": {
              "$id": "/properties/data/properties/oaienc",
              "type": "integer",
              "title": "The Oaienc Schema"
            },
            "ernast": {
              "$id": "/properties/data/properties/ernast",
              "type": "integer",
              "title": "The Ernast Schema"
            },
            "asstlt": {
              "$id": "/properties/data/properties/asstlt",
              "type": "integer",
              "title": "The Asstlt Schema"
            },
            "asset5": {
              "$id": "/properties/data/properties/asset5",
              "type": "number",
              "title": "The Asset5 Schema"
            },
            "asset2": {
              "$id": "/properties/data/properties/asset2",
              "type": "number",
              "title": "The Asset2 Schema"
            },
            "rwajt": {
              "$id": "/properties/data/properties/rwajt",
              "type": "integer",
              "title": "The Rwajt Schema"
            },
            "avassetj": {
              "$id": "/properties/data/properties/avassetj",
              "type": "integer",
              "title": "The Avassetj Schema"
            },
            "oalifins": {
              "$id": "/properties/data/properties/oalifins",
              "type": "integer",
              "title": "The Oalifins Schema"
            },
            "oalifgen": {
              "$id": "/properties/data/properties/oalifgen",
              "type": "integer",
              "title": "The Oalifgen Schema"
            },
            "oalifsep": {
              "$id": "/properties/data/properties/oalifsep",
              "type": "integer",
              "title": "The Oalifsep Schema"
            },
            "oalifhyb": {
              "$id": "/properties/data/properties/oalifhyb",
              "type": "integer",
              "title": "The Oalifhyb Schema"
            },
            "voliab": {
              "$id": "/properties/data/properties/voliab",
              "type": "integer",
              "title": "The Voliab Schema"
            },
            "lnexamt": {
              "$id": "/properties/data/properties/lnexamt",
              "type": "integer",
              "title": "The Lnexamt Schema"
            },
            "othbfhlb": {
              "$id": "/properties/data/properties/othbfhlb",
              "type": "integer",
              "title": "The Othbfhlb Schema"
            },
            "lnlssale": {
              "$id": "/properties/data/properties/lnlssale",
              "type": "integer",
              "title": "The Lnlssale Schema"
            },
            "ucln": {
              "$id": "/properties/data/properties/ucln",
              "type": "integer",
              "title": "The Ucln Schema"
            },
            "rbct1j": {
              "$id": "/properties/data/properties/rbct1j",
              "type": "integer",
              "title": "The Rbct1j Schema"
            },
            "rbct2": {
              "$id": "/properties/data/properties/rbct2",
              "type": "integer",
              "title": "The Rbct2 Schema"
            },
            "uc": {
              "$id": "/properties/data/properties/uc",
              "type": "integer",
              "title": "The Uc Schema"
            },
            "obsdir": {
              "$id": "/properties/data/properties/obsdir",
              "type": "integer",
              "title": "The Obsdir Schema"
            },
            "lsalnls": {
              "$id": "/properties/data/properties/lsalnls",
              "type": "integer",
              "title": "The Lsalnls Schema"
            },
            "lrecons": {
              "$id": "/properties/data/properties/lrecons",
              "type": "integer",
              "title": "The Lrecons Schema"
            },
            "lreag": {
              "$id": "/properties/data/properties/lreag",
              "type": "integer",
              "title": "The Lreag Schema"
            },
            "lreres": {
              "$id": "/properties/data/properties/lreres",
              "type": "integer",
              "title": "The Lreres Schema"
            },
            "lremult": {
              "$id": "/properties/data/properties/lremult",
              "type": "integer",
              "title": "The Lremult Schema"
            },
            "lrenres": {
              "$id": "/properties/data/properties/lrenres",
              "type": "integer",
              "title": "The Lrenres Schema"
            },
            "lci": {
              "$id": "/properties/data/properties/lci",
              "type": "integer",
              "title": "The Lci Schema"
            },
            "lcon": {
              "$id": "/properties/data/properties/lcon",
              "type": "integer",
              "title": "The Lcon Schema"
            },
            "lag": {
              "$id": "/properties/data/properties/lag",
              "type": "string",
              "title": "The Lag Schema"
            },
            "loth": {
              "$id": "/properties/data/properties/loth",
              "type": "integer",
              "title": "The Loth Schema"
            },
            "lsaore": {
              "$id": "/properties/data/properties/lsaore",
              "type": "integer",
              "title": "The Lsaore Schema"
            },
            "loregty": {
              "$id": "/properties/data/properties/loregty",
              "type": "integer",
              "title": "The Loregty Schema"
            },
            "lsascdbt": {
              "$id": "/properties/data/properties/lsascdbt",
              "type": "integer",
              "title": "The Lsascdbt Schema"
            },
            "lsaoa": {
              "$id": "/properties/data/properties/lsaoa",
              "type": "integer",
              "title": "The Lsaoa Schema"
            },
            "p3ltot": {
              "$id": "/properties/data/properties/p3ltot",
              "type": "integer",
              "title": "The P3ltot Schema"
            },
            "p3lrecon": {
              "$id": "/properties/data/properties/p3lrecon",
              "type": "integer",
              "title": "The P3lrecon Schema"
            },
            "p3lreag": {
              "$id": "/properties/data/properties/p3lreag",
              "type": "integer",
              "title": "The P3lreag Schema"
            },
            "p3lreres": {
              "$id": "/properties/data/properties/p3lreres",
              "type": "integer",
              "title": "The P3lreres Schema"
            },
            "p3lremul": {
              "$id": "/properties/data/properties/p3lremul",
              "type": "integer",
              "title": "The P3lremul Schema"
            },
            "p3lrenrs": {
              "$id": "/properties/data/properties/p3lrenrs",
              "type": "integer",
              "title": "The P3lrenrs Schema"
            },
            "p3lci": {
              "$id": "/properties/data/properties/p3lci",
              "type": "integer",
              "title": "The P3lci Schema"
            },
            "p3lcon": {
              "$id": "/properties/data/properties/p3lcon",
              "type": "integer",
              "title": "The P3lcon Schema"
            },
            "p3lag": {
              "$id": "/properties/data/properties/p3lag",
              "type": "string",
              "title": "The P3lag Schema"
            },
            "p3loth": {
              "$id": "/properties/data/properties/p3loth",
              "type": "integer",
              "title": "The P3loth Schema"
            },
            "p3lgty": {
              "$id": "/properties/data/properties/p3lgty",
              "type": "integer",
              "title": "The P3lgty Schema"
            },
            "p9ltot": {
              "$id": "/properties/data/properties/p9ltot",
              "type": "integer",
              "title": "The P9ltot Schema"
            },
            "p9lrecon": {
              "$id": "/properties/data/properties/p9lrecon",
              "type": "integer",
              "title": "The P9lrecon Schema"
            },
            "p9lreag": {
              "$id": "/properties/data/properties/p9lreag",
              "type": "integer",
              "title": "The P9lreag Schema"
            },
            "p9lreres": {
              "$id": "/properties/data/properties/p9lreres",
              "type": "integer",
              "title": "The P9lreres Schema"
            },
            "p9lremul": {
              "$id": "/properties/data/properties/p9lremul",
              "type": "integer",
              "title": "The P9lremul Schema"
            },
            "p9lrenrs": {
              "$id": "/properties/data/properties/p9lrenrs",
              "type": "integer",
              "title": "The P9lrenrs Schema"
            },
            "p9lci": {
              "$id": "/properties/data/properties/p9lci",
              "type": "integer",
              "title": "The P9lci Schema"
            },
            "p9lcon": {
              "$id": "/properties/data/properties/p9lcon",
              "type": "integer",
              "title": "The P9lcon Schema"
            },
            "p9lag": {
              "$id": "/properties/data/properties/p9lag",
              "type": "string",
              "title": "The P9lag Schema"
            },
            "p9loth": {
              "$id": "/properties/data/properties/p9loth",
              "type": "integer",
              "title": "The P9loth Schema"
            },
            "p9lgty": {
              "$id": "/properties/data/properties/p9lgty",
              "type": "integer",
              "title": "The P9lgty Schema"
            },
            "naltot": {
              "$id": "/properties/data/properties/naltot",
              "type": "integer",
              "title": "The Naltot Schema"
            },
            "nalrecon": {
              "$id": "/properties/data/properties/nalrecon",
              "type": "integer",
              "title": "The Nalrecon Schema"
            },
            "nalreag": {
              "$id": "/properties/data/properties/nalreag",
              "type": "integer",
              "title": "The Nalreag Schema"
            },
            "nalreres": {
              "$id": "/properties/data/properties/nalreres",
              "type": "integer",
              "title": "The Nalreres Schema"
            },
            "nalremul": {
              "$id": "/properties/data/properties/nalremul",
              "type": "integer",
              "title": "The Nalremul Schema"
            },
            "nalrenrs": {
              "$id": "/properties/data/properties/nalrenrs",
              "type": "integer",
              "title": "The Nalrenrs Schema"
            },
            "nalci": {
              "$id": "/properties/data/properties/nalci",
              "type": "integer",
              "title": "The Nalci Schema"
            },
            "nalcon": {
              "$id": "/properties/data/properties/nalcon",
              "type": "integer",
              "title": "The Nalcon Schema"
            },
            "nalag": {
              "$id": "/properties/data/properties/nalag",
              "type": "string",
              "title": "The Nalag Schema"
            },
            "naloth": {
              "$id": "/properties/data/properties/naloth",
              "type": "integer",
              "title": "The Naloth Schema"
            },
            "nalgty": {
              "$id": "/properties/data/properties/nalgty",
              "type": "integer",
              "title": "The Nalgty Schema"
            },
            "lnreres": {
              "$id": "/properties/data/properties/lnreres",
              "type": "integer",
              "title": "The Lnreres Schema"
            },
            "lnrersfm": {
              "$id": "/properties/data/properties/lnrersfm",
              "type": "integer",
              "title": "The Lnrersfm Schema"
            },
            "lnrersf2": {
              "$id": "/properties/data/properties/lnrersf2",
              "type": "integer",
              "title": "The Lnrersf2 Schema"
            },
            "lnreloc": {
              "$id": "/properties/data/properties/lnreloc",
              "type": "integer",
              "title": "The Lnreloc Schema"
            },
            "lnrersf1": {
              "$id": "/properties/data/properties/lnrersf1",
              "type": "integer",
              "title": "The Lnrersf1 Schema"
            },
            "ntlnlsr": {
              "$id": "/properties/data/properties/ntlnlsr",
              "type": "number",
              "title": "The Ntlnlsr Schema"
            },
            "ntrer": {
              "$id": "/properties/data/properties/ntrer",
              "type": "number",
              "title": "The Ntrer Schema"
            },
            "ntrecosr": {
              "$id": "/properties/data/properties/ntrecosr",
              "type": "number",
              "title": "The Ntrecosr Schema"
            },
            "ntrenrsr": {
              "$id": "/properties/data/properties/ntrenrsr",
              "type": "integer",
              "title": "The Ntrenrsr Schema"
            },
            "ntremulr": {
              "$id": "/properties/data/properties/ntremulr",
              "type": "integer",
              "title": "The Ntremulr Schema"
            },
            "ntreresr": {
              "$id": "/properties/data/properties/ntreresr",
              "type": "number",
              "title": "The Ntreresr Schema"
            },
            "ntrelocr": {
              "$id": "/properties/data/properties/ntrelocr",
              "type": "integer",
              "title": "The Ntrelocr Schema"
            },
            "ntreothr": {
              "$id": "/properties/data/properties/ntreothr",
              "type": "number",
              "title": "The Ntreothr Schema"
            },
            "idntcir": {
              "$id": "/properties/data/properties/idntcir",
              "type": "number",
              "title": "The Idntcir Schema"
            },
            "idntconr": {
              "$id": "/properties/data/properties/idntconr",
              "type": "number",
              "title": "The Idntconr Schema"
            },
            "idntcrdr": {
              "$id": "/properties/data/properties/idntcrdr",
              "type": "string",
              "title": "The Idntcrdr Schema"
            },
            "idntcoor": {
              "$id": "/properties/data/properties/idntcoor",
              "type": "number",
              "title": "The Idntcoor Schema"
            },
            "idntator": {
              "$id": "/properties/data/properties/idntator",
              "type": "integer",
              "title": "The Idntator Schema"
            },
            "idntcotr": {
              "$id": "/properties/data/properties/idntcotr",
              "type": "number",
              "title": "The Idntcotr Schema"
            },
            "idntothr": {
              "$id": "/properties/data/properties/idntothr",
              "type": "number",
              "title": "The Idntothr Schema"
            },
            "ntcomrer": {
              "$id": "/properties/data/properties/ntcomrer",
              "type": "string",
              "title": "The Ntcomrer Schema"
            },
            "assetfor": {
              "$id": "/properties/data/properties/assetfor",
              "type": "string",
              "title": "The Assetfor Schema"
            },
            "chbalfor": {
              "$id": "/properties/data/properties/chbalfor",
              "type": "string",
              "title": "The Chbalfor Schema"
            },
            "repopurf": {
              "$id": "/properties/data/properties/repopurf",
              "type": "string",
              "title": "The Repopurf Schema"
            },
            "lnlsgrf": {
              "$id": "/properties/data/properties/lnlsgrf",
              "type": "string",
              "title": "The Lnlsgrf Schema"
            },
            "unincfor": {
              "$id": "/properties/data/properties/unincfor",
              "type": "string",
              "title": "The Unincfor Schema"
            },
            "lnlsfor": {
              "$id": "/properties/data/properties/lnlsfor",
              "type": "string",
              "title": "The Lnlsfor Schema"
            },
            "lnrefor": {
              "$id": "/properties/data/properties/lnrefor",
              "type": "string",
              "title": "The Lnrefor Schema"
            },
            "idlndacf": {
              "$id": "/properties/data/properties/idlndacf",
              "type": "integer",
              "title": "The Idlndacf Schema"
            },
            "lndepcbf": {
              "$id": "/properties/data/properties/lndepcbf",
              "type": "string",
              "title": "The Lndepcbf Schema"
            },
            "lndepusf": {
              "$id": "/properties/data/properties/lndepusf",
              "type": "string",
              "title": "The Lndepusf Schema"
            },
            "lndepfcf": {
              "$id": "/properties/data/properties/lndepfcf",
              "type": "string",
              "title": "The Lndepfcf Schema"
            },
            "lnagfor": {
              "$id": "/properties/data/properties/lnagfor",
              "type": "string",
              "title": "The Lnagfor Schema"
            },
            "lncifor": {
              "$id": "/properties/data/properties/lncifor",
              "type": "string",
              "title": "The Lncifor Schema"
            },
            "lncinusf": {
              "$id": "/properties/data/properties/lncinusf",
              "type": "string",
              "title": "The Lncinusf Schema"
            },
            "lnconfor": {
              "$id": "/properties/data/properties/lnconfor",
              "type": "string",
              "title": "The Lnconfor Schema"
            },
            "lnfgfor": {
              "$id": "/properties/data/properties/lnfgfor",
              "type": "string",
              "title": "The Lnfgfor Schema"
            },
            "lnmunif": {
              "$id": "/properties/data/properties/lnmunif",
              "type": "string",
              "title": "The Lnmunif Schema"
            },
            "lnotherf": {
              "$id": "/properties/data/properties/lnotherf",
              "type": "string",
              "title": "The Lnotherf Schema"
            },
            "lsfor": {
              "$id": "/properties/data/properties/lsfor",
              "type": "string",
              "title": "The Lsfor Schema"
            },
            "trfor": {
              "$id": "/properties/data/properties/trfor",
              "type": "string",
              "title": "The Trfor Schema"
            },
            "liabfor": {
              "$id": "/properties/data/properties/liabfor",
              "type": "string",
              "title": "The Liabfor Schema"
            },
            "depipccf": {
              "$id": "/properties/data/properties/depipccf",
              "type": "string",
              "title": "The Depipccf Schema"
            },
            "depusbkf": {
              "$id": "/properties/data/properties/depusbkf",
              "type": "string",
              "title": "The Depusbkf Schema"
            },
            "depfbkf": {
              "$id": "/properties/data/properties/depfbkf",
              "type": "string",
              "title": "The Depfbkf Schema"
            },
            "depfgovf": {
              "$id": "/properties/data/properties/depfgovf",
              "type": "string",
              "title": "The Depfgovf Schema"
            },
            "depusmf": {
              "$id": "/properties/data/properties/depusmf",
              "type": "string",
              "title": "The Depusmf Schema"
            },
            "reposldf": {
              "$id": "/properties/data/properties/reposldf",
              "type": "string",
              "title": "The Reposldf Schema"
            },
            "othborf": {
              "$id": "/properties/data/properties/othborf",
              "type": "string",
              "title": "The Othborf Schema"
            },
            "tpmanum": {
              "$id": "/properties/data/properties/tpmanum",
              "type": "integer",
              "title": "The Tpmanum Schema"
            },
            "tecmanum": {
              "$id": "/properties/data/properties/tecmanum",
              "type": "integer",
              "title": "The Tecmanum Schema"
            },
            "tebmanum": {
              "$id": "/properties/data/properties/tebmanum",
              "type": "integer",
              "title": "The Tebmanum Schema"
            },
            "tormanum": {
              "$id": "/properties/data/properties/tormanum",
              "type": "integer",
              "title": "The Tormanum Schema"
            },
            "tcamanum": {
              "$id": "/properties/data/properties/tcamanum",
              "type": "integer",
              "title": "The Tcamanum Schema"
            },
            "timmanum": {
              "$id": "/properties/data/properties/timmanum",
              "type": "integer",
              "title": "The Timmanum Schema"
            },
            "tfemanum": {
              "$id": "/properties/data/properties/tfemanum",
              "type": "integer",
              "title": "The Tfemanum Schema"
            },
            "tofmanum": {
              "$id": "/properties/data/properties/tofmanum",
              "type": "integer",
              "title": "The Tofmanum Schema"
            },
            "tmafnum": {
              "$id": "/properties/data/properties/tmafnum",
              "type": "string",
              "title": "The Tmafnum Schema"
            },
            "trhmanum": {
              "$id": "/properties/data/properties/trhmanum",
              "type": "integer",
              "title": "The Trhmanum Schema"
            },
            "tmasmfn": {
              "$id": "/properties/data/properties/tmasmfn",
              "type": "string",
              "title": "The Tmasmfn Schema"
            },
            "tpnmnum": {
              "$id": "/properties/data/properties/tpnmnum",
              "type": "integer",
              "title": "The Tpnmnum Schema"
            },
            "tecnmnum": {
              "$id": "/properties/data/properties/tecnmnum",
              "type": "integer",
              "title": "The Tecnmnum Schema"
            },
            "tebnmnum": {
              "$id": "/properties/data/properties/tebnmnum",
              "type": "integer",
              "title": "The Tebnmnum Schema"
            },
            "tornmnum": {
              "$id": "/properties/data/properties/tornmnum",
              "type": "integer",
              "title": "The Tornmnum Schema"
            },
            "tcanmnum": {
              "$id": "/properties/data/properties/tcanmnum",
              "type": "integer",
              "title": "The Tcanmnum Schema"
            },
            "timnmnum": {
              "$id": "/properties/data/properties/timnmnum",
              "type": "integer",
              "title": "The Timnmnum Schema"
            },
            "tfenmnum": {
              "$id": "/properties/data/properties/tfenmnum",
              "type": "integer",
              "title": "The Tfenmnum Schema"
            },
            "tofnmnum": {
              "$id": "/properties/data/properties/tofnmnum",
              "type": "integer",
              "title": "The Tofnmnum Schema"
            },
            "tcsnmnum": {
              "$id": "/properties/data/properties/tcsnmnum",
              "type": "integer",
              "title": "The Tcsnmnum Schema"
            },
            "tnmnumf": {
              "$id": "/properties/data/properties/tnmnumf",
              "type": "string",
              "title": "The Tnmnumf Schema"
            },
            "trhnmnum": {
              "$id": "/properties/data/properties/trhnmnum",
              "type": "integer",
              "title": "The Trhnmnum Schema"
            },
            "szucres": {
              "$id": "/properties/data/properties/szucres",
              "type": "integer",
              "title": "The Szucres Schema"
            },
            "szuchel": {
              "$id": "/properties/data/properties/szuchel",
              "type": "integer",
              "title": "The Szuchel Schema"
            },
            "szuccrcd": {
              "$id": "/properties/data/properties/szuccrcd",
              "type": "integer",
              "title": "The Szuccrcd Schema"
            },
            "szucauto": {
              "$id": "/properties/data/properties/szucauto",
              "type": "integer",
              "title": "The Szucauto Schema"
            },
            "szuccon": {
              "$id": "/properties/data/properties/szuccon",
              "type": "integer",
              "title": "The Szuccon Schema"
            },
            "szucci": {
              "$id": "/properties/data/properties/szucci",
              "type": "integer",
              "title": "The Szucci Schema"
            },
            "szucoth": {
              "$id": "/properties/data/properties/szucoth",
              "type": "integer",
              "title": "The Szucoth Schema"
            },
            "ucszres": {
              "$id": "/properties/data/properties/ucszres",
              "type": "integer",
              "title": "The Ucszres Schema"
            },
            "ucszhel": {
              "$id": "/properties/data/properties/ucszhel",
              "type": "integer",
              "title": "The Ucszhel Schema"
            },
            "ucszcrcd": {
              "$id": "/properties/data/properties/ucszcrcd",
              "type": "integer",
              "title": "The Ucszcrcd Schema"
            },
            "ucszauto": {
              "$id": "/properties/data/properties/ucszauto",
              "type": "integer",
              "title": "The Ucszauto Schema"
            },
            "ucszcon": {
              "$id": "/properties/data/properties/ucszcon",
              "type": "integer",
              "title": "The Ucszcon Schema"
            },
            "ucszci": {
              "$id": "/properties/data/properties/ucszci",
              "type": "integer",
              "title": "The Ucszci Schema"
            },
            "ucszoth": {
              "$id": "/properties/data/properties/ucszoth",
              "type": "integer",
              "title": "The Ucszoth Schema"
            },
            "eintexp": {
              "$id": "/properties/data/properties/eintexp",
              "type": "integer",
              "title": "The Eintexp Schema"
            },
            "nim": {
              "$id": "/properties/data/properties/nim",
              "type": "integer",
              "title": "The Nim Schema"
            },
            "elnatr": {
              "$id": "/properties/data/properties/elnatr",
              "type": "integer",
              "title": "The Elnatr Schema"
            },
            "nonii": {
              "$id": "/properties/data/properties/nonii",
              "type": "integer",
              "title": "The Nonii Schema"
            },
            "iserchg": {
              "$id": "/properties/data/properties/iserchg",
              "type": "integer",
              "title": "The Iserchg Schema"
            },
            "igltrad": {
              "$id": "/properties/data/properties/igltrad",
              "type": "integer",
              "title": "The Igltrad Schema"
            },
            "idothnii": {
              "$id": "/properties/data/properties/idothnii",
              "type": "integer",
              "title": "The Idothnii Schema"
            },
            "nonix": {
              "$id": "/properties/data/properties/nonix",
              "type": "integer",
              "title": "The Nonix Schema"
            },
            "esal": {
              "$id": "/properties/data/properties/esal",
              "type": "integer",
              "title": "The Esal Schema"
            },
            "epremagg": {
              "$id": "/properties/data/properties/epremagg",
              "type": "integer",
              "title": "The Epremagg Schema"
            },
            "ideoth": {
              "$id": "/properties/data/properties/ideoth",
              "type": "integer",
              "title": "The Ideoth Schema"
            },
            "idpretx": {
[...]
